In [1]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
#and make data frame

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
html=urlopen('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [4]:
bs=BeautifulSoup(html,'html.parser')
moviedata=bs.find('td',class_="titleColumn")

In [5]:
movies=[]
sanitized_rating=[]
sanitized_moviename=[]
sanitized_year=[]
i=0
for moviedata in bs.find_all('td',class_="titleColumn"):
    if i<=99:
            sanitized_rating.append(moviedata.text.split("\n")[1].strip(".").strip())
            sanitized_moviename.append(moviedata.text.split("\n")[2].strip())
            sanitized_year.append(moviedata.text.split("\n")[3].strip("()").strip())
            i=i+1
    else:
            break
df=pd.DataFrame({'Name':sanitized_moviename,'Rating':sanitized_rating,'Year of Release':sanitized_year})
df

                                   Name Rating Year of Release
0              The Shawshank Redemption      1            1994
1                         The Godfather      2            1972
2                       The Dark Knight      3            2008
3                The Godfather: Part II      4            1974
4                          12 Angry Men      5            1957
..                                  ...    ...             ...
95    M - Eine Stadt sucht einen Mörder     96            1931
96                   North by Northwest     97            1959
97                               Jagten     98            2012
98                              Vertigo     99            1958
99  Le fabuleux destin d'Amélie Poulain    100            2001

[100 rows x 3 columns]