In [1]:
from urllib.request import urlopen  
from urllib.request import Request  
from bs4 import BeautifulSoup
import pandas as pd
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from IPython.display import Image, HTML
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome()

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views
2.. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [12]:
def tableDataText(table,headflag):  
    rows = []
    if (headflag=='header'):
        trs = table.find_all('tr')   
        headerow = rowgetDataText(trs[0], 'th')
    else :
        tbody=table.find('tbody')
        trs = tbody.find_all('tr') 
        headerow = rowgetDataText(trs[0], 'th') 
    if headerow: # if there is a header row include first
        rows.append(headerow)
        trs = trs[1:]      
    for tr in trs: # for every table row
        if rowgetDataText(tr, 'td'):
            rows.append(rowgetDataText(tr, 'td'))
    return rows
def rowgetDataText(tr, coltag='td'):  # td (data) or th (header)      
    return[td.text.strip().split("\n")[0] for td in tr.find_all(coltag)]

In [14]:
user_agent = 'Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.0.7) Gecko/2009021910 Firefox/3.0.7'
headers={'User-Agent':user_agent} 
guruRequest=Request("https://www.guru99.com/exception-handling-selenium.html",None,headers)
wikiRequest='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
GuardianRequest='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
stTimeRequest='https://www.statisticstimes.com/economy/india/indian-states-gdp.php'
URLs={1:[wikiRequest,'wikitable sortable','most viewed videos on YouTube from Wikipedia.',''],
    2:[GuardianRequest,'in-article sortable','Details of Highest selling novels:',''],
    3:[guruRequest,'table table-striped','Details of Selenium:',''],
    4:[stTimeRequest,'sample','State-wise GDP of India from statisticstime.com','table_id'] }
for urlkey,urlvalue in URLs.items():
    URL=urlvalue[0]
    iccClass=urlvalue[1]  
    Message=urlvalue[2]  
    table_id=urlvalue[3] 
    html=urlopen(URL)
    bs=BeautifulSoup(html,'html.parser')
    if(table_id!=''):
        table = bs.find("table", { "id" : table_id })
    else:
        table = bs.find("table", { "class" : iccClass })
    final_table=[]
    try:
        list_header=[]
        header = table.find("thead")
        list_header=tableDataText(header,'header') 
    except :
        z=1
    list_table = tableDataText(table,'table')
    final_table=list_header+list_table
    df=pd.DataFrame(final_table)
    if(urlkey==1):
        df=df.iloc[: , :-1]
    print(Message,"\n")
    left_aligned_datafamename = df.style.set_properties(**{'text-align': 'right'})
    display(left_aligned_datafamename)

most viewed videos on YouTube from Wikipedia.

Details of Highest selling novels:

Details of Selenium:

State-wise GDP of India from statisticstime.com

Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [15]:
html=urlopen('https://www.imdb.com/list/ls095964455/')
bs=BeautifulSoup(html,'html.parser')

In [34]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]
i=0
name_year_data=bs.find_all('h3',{ "class" : 'lister-item-header' })
genre=bs.find_all('span',{ "class" : 'genre' })
runtime=bs.find_all('span',{ "class" : 'runtime' })
rating=bs.find_all('span',{ "class" : 'ipl-rating-star__rating' })
voting=bs.find_all('span',{ "name" : 'nv' })
for i in range(len(name_year_data)):
    Year_span.append(name_year_data[i].text.split("\r")[0].split('\n')[3])
    Name.append(name_year_data[i].text.split("\r")[0].split('\n')[2])
    Genre.append(genre[i].text)
    Run_time.append(runtime[i].text)
    Ratings.append(rating[i].text)
    Votes.append(voting[i].text)
df=pd.DataFrame({'Name':Name,'Year':Year_span,'Genre':Genre,'Run Time':Run_time,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"\nAction, Adventure, Drama",57 min,9.2,"1,989,090"
1,Stranger Things,(2016– ),"\nDrama, Fantasy, Horror",51 min,0,"997,111"
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",44 min,Rate,"947,310"
3,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",60 min,1,"283,010"
4,The 100,(2014–2020),"\nDrama, Mystery, Sci-Fi",43 min,Rate,"242,831"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"\nDrama, Fantasy",42 min,1,"48,746"
96,A Series of Unfortunate Events,(2017–2019),"\nAdventure, Comedy, Drama",50 min,Rate,"59,389"
97,Criminal Minds,(2005–2020),"\nCrime, Drama, Mystery",42 min,2,"189,778"
98,Scream,(2015–2019),"\nComedy, Crime, Drama",45 min,Rate,"40,189"
99,The Haunting of Hill House,(2018),"\nDrama, Horror, Mystery",572 min,3,"227,744"

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [299]:
driver.get('https://www.bcci.tv/')
link=driver.find_element_by_xpath('//*[@id="navigation"]/ul[1]/li[2]/a')
driver.execute_script("arguments[0].click();", link)
time.sleep(2)

In [318]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

Match_title_data=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
place_data=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
date_data=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
time_data=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
series_data=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')

for i in range(len(date_data)):
    Match_title.append(Match_title_data[i].text)
    Series.append(series_data[i].text.split('-')[0])
    Place.append(place_data[i].text)
    Date.append(date_data[i].text)
    Time.append(time_data[i].text)
df=pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match_title,Series,Place,Date,Time
0,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Arun Jaitley Stadium,",9 JUN 2022,7:00 PM IST
1,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Barabati Stadium,",12 JUN 2022,7:00 PM IST
2,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,7:00 PM IST
3,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:00 PM IST
4,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,5th T20I,"M Chinnaswamy Stadium,",19 JUN 2022,7:00 PM IST

Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [97]:
driver.get('https://www.billboard.com/')
time.sleep(2)
link=driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
driver.execute_script("arguments[0].click();", link)
time.sleep(2)
link=driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a')
driver.execute_script("arguments[0].click();", link)
time.sleep(2)

In [141]:
first_rank_data=driver.find_element(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
first_title_data=driver.find_element(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
first_name_data=driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
first_multiple_data=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
rank=[]
title=[]
name=[]
lwp=[]
pp=[]
woc=[]
rank.append(first_rank_data.text)
title.append(first_title_data.text)
name.append(first_name_data.text)
lwp.append(first_multiple_data[3].text)
pp.append(first_multiple_data[4].text)
woc.append(first_multiple_data[5].text)

rest_rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
rest_title=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
rest_name=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
rest_last_wk_pos=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')

In [142]:
j=0
rest_rank.pop(0)
for i in range(len(rest_rank)):
    rank.append(rest_rank[i].text)
    title.append(rest_title[i].text)
    name.append(rest_name[i].text)
    lwp.append(rest_last_wk_pos[j+3].text)
    pp.append(rest_last_wk_pos[j+4].text)
    woc.append(rest_last_wk_pos[j+5].text)
    j=j+6
df=pd.DataFrame({'Rank':rank,'Title':title,'Name':name,'Last Week Position':lwp,'Peak Position':pp,'Week on Charts':woc})
df

,Rank,Title,Name,Last Week Position,Peak Position,Week on Charts
0,1,First Class,Jack Harlow,1,1,6
1,2,As It Was,Harry Styles,2,1,7
2,3,N95,Kendrick Lamar,-,3,1
3,4,Wait For U,Future Featuring Drake & Tems,3,1,3
4,5,Die Hard,"Kendrick Lamar, Blxst & Amanda Reifer",-,5,1
...,...,...,...,...,...,...
95,96,The Motto,Tiesto & Ava Max,95,42,16
96,97,Me Fui de Vacaciones,Bad Bunny,59,59,2
97,98,Hold My Hand,Lady Gaga,82,82,2
98,99,Ensename A Bailar,Bad Bunny,60,60,2
99,100,Flowers,Lauren Spencer-Smith,93,55,5

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [13]:
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [14]:
search_job = driver.find_element_by_class_name("sugInp")

In [15]:
search_job.send_keys("Data Scientist")

In [17]:
srch_button=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
driver.execute_script("arguments[0].click();", srch_button)

In [47]:
def getData(tags,tag_name):
    try:
        data = tags.find_element(By.TAG_NAME, tag_name)
        value = data.text
    except NoSuchElementException:
        value='-'
    return value

In [55]:
name = []
designation = []
locations =[]
comp_name =[]
skills=[]
h=[]
h = driver.find_elements_by_xpath('//p[@class="highlightable"]')
name_data = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
comp_data = driver.find_elements_by_xpath('//i[@class="cmpIcn"]')
designation_data = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
skills_data = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
i=0
for tags in h:
    locations.append(getData(tags,'small'))
    name.append(name_data[i].text)
    comp_name.append(comp_data[i].text)
    designation.append(designation_data[i].text)
    skills.append(skills_data[i].text)
    i=i+1    
df=pd.DataFrame({'Name':name,'Designation':designation,'Location':locations,'Company':comp_name,'Skills':skills})
df

,Name,Designation,Location,Company,Skills
0,Tanushree,Lead Recruiter,Noida,,"UI Developers, Software Engineers, Quality Ass..."
1,sashi bhushan,Senior Specialist,Bengaluru / Bangalore,,"pig, hbase, sas, spss, apache, python, nosql, ..."
2,Bitapi,HR and Operation Manager,Bengaluru / Bangalore,,"Hadoop, Big Data, Data Scientists, Java, Sprin..."
3,Gajendra Singh,Head of Recruitment - Product &amp;...,Noida,,"Data Scientist, Big Data, Hadoop, Web Analytic..."
4,Sadashiv Kulkarni,Company HR,Pune,,"Big Data Engineer, Data Scientist, Solutions, ..."
5,Invelopment,Company HR,Ahmedabad,,Scandinavian Startups
6,Anjali Srivastava,Director HR,Noida,,"Technical, Business Development Executive, Sof..."
7,Helly Vyas,HR Business Partner,Pune,,"Big Data technology, PLSQL, Web Developer, Jav..."
8,Ashish Verma,Senior Associate Human Resources,Gurgaon,,"SAS, VBA, Business Information Services(BIS), ..."
9,Balaji Prabhakaran,Company Recruiter,Chennai,,"Technical Solution Architect, Data Scientist, ..."
10,Shiva Kumar N,Founder,Bengaluru / Bangalore,,"salaesforce, Web Technologies, .net, .net full..."
11,Bhuwneshari Devi,Lead Talent Acquisition,Delhi,,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip..."
12,HS Sandesh,Talent Evangelist www staffiohr co,Bengaluru / Bangalore,,"Digital Marketing, General Manager, Business D..."
13,Anoop Somarajan,Manager - Talent Acquisition,Chennai,,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript..."
14,Datafoundry,Company HR,Bengaluru / Bangalore,,"Webmethods Developer, Mean Stack, Business Ana..."
15,A Valsa Florina,Recruitment Specialist,Bengaluru / Bangalore,,"Business Analyst, Front end developer, legal, ..."
16,Kalaivani M V,HR Manager,Chennai,,"Data Scientist, Cloud Computing, Mobile Applic..."
17,Prashant K,Sr HR,Bengaluru / Bangalore,,"Data Analyst, Statistical Analysis, Data Scien..."
18,Radhika,HR Associate,Coimbatore,,"business analyst - IT (python), pay per click,..."
19,Rakhi,HR recruiter,Singapore - (singapore),,"Data Scientist, Data Research Analyst, Big Dat..."
20,Monika Jain,Talent Aquistion Lead,Noida,,"Lamp Developer, Ui/ux Developer, Qa Engineer, ..."
21,Trilok Nath,Senior IT Recruiter,Hyderabad / Secunderabad,,".Net Developers With Angular Js, Html, Front E..."
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Noida,,"Leading MNCs, Product based organizations"
23,Vidya Rani Hadimani,Business Manager Delivery,Bengaluru / Bangalore,,Amazon Walmart Adobe OLA Myntracom Komli Media...
24,Monika Singh Thakur,Technical Recruiter,Indore,,"Big Data Analytics, Marketing Analytics, Full ..."
25,Shikha Bakshi,Senior Manager Recruitment,Gurgaon,,"Analytics, Big Data, Hadoop, Python"
26,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Vadodara / Baroda,,"Analytics, Business Intelligence, Business Ana..."
27,Jayanth N,Project Manager,Mysoru / Mysore,,"Data Analytics, Managed Services, Team Leading..."
28,Sai Siddharth Chinta,Technical Recruiter,Bengaluru / Bangalore,,Not Specified
29,Ravi,Team HR,Ghaziabad,,"Deep Learning, Machine Learning, unstructured ..."
30,Ishu Kumar,Co Founder &amp; Ceo,Bengaluru / Bangalore,,"Python, Machine Learning, Sql, Data Science"
31,Vivek Shrivastava,Assistant Manager Human Resources,Noida,,"Business Analyst, analytics, Decesion Scientis..."
32,Gayathri E,Sr Recruitment,Chennai,,"IT Infrastructure Management, PHP, Wordpress, ..."
33,Best In Town Analytics,Analytics Associate,Bengaluru / Bangalore,,Data Analytics
34,Santhosh Nagaiah,Chief marketing officer,-,,"Data Science, Project Management, Backend"
35,priyanka,General Manager,Mumbai,,"Sap, Saas, Sql, Hadoop, Production Planning, B..."
36,Nagendla Syam Kumar,Data Scientist,Bengaluru / Bangalore,,"Machine Learning, NLP, Performance Review, HR,..."
37,Renny Benita K,Operations Manager,Bengaluru / Bangalore,,"Core Java, J2ee, Big Data, Machine Learning, D..."
38,Jamil Akhtar,Company Recruiter,Delhi,,Not Specified
39,Roshan Menugu,Company Recruiter,Hyderabad / Secunderabad,,Not Specified
40,Sudipta Samanta,Founder,Pune,,Not Specified
41,HR Team,Company HR,Bengaluru / Bangalore,,Not Specified
42,rajesh,HR Executive,Bengaluru / Bangalore,,"Data Scientist, Tableau, R Tool, Data Analytic..."
43,navya neluri,Data Scientist,Hyderabad / Secunderabad,,Not Specified
44,Ram Kumar,Data Scientist,Pune,,Not Specified
45,Laksh Barla,HR Executive,Chennai,,"Devops, Ruby Rails, Java, Spring, Net, Angular..."
46,Zack,Recruitment Manager,Hyderabad / Secunderabad,,"Software Development, Javascript, Core Java, J..."
47,Shreya Naithani,Talent Acquisition Executive,Mumbai,,"Node.js, React.js, Etl Testing, Data Warehousi..."
48,Vanitha Senkurichi,Company HR,Bengaluru / Bangalore,,"sql, Ui Development, ssis, Data Modeling, Data..."
49,Sravan Kumar Ranga,Assistant Manager,Hyderabad / Secunderabad,,"devops, build and release, Delivery Manager, O..."

Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [266]:
driver.get("https://archive.ics.uci.edu/")

In [267]:
time.sleep(2)
link=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
driver.execute_script("arguments[0].click();", link)
time.sleep(2)
table = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]')

In [298]:
all_rows=[]
rows = table.find_elements(By.TAG_NAME, "tr") # get all of the rows in the table
for row in rows:
    tds=row.find_elements(By.TAG_NAME, "p")
    data=[]
    if(len(tds)==7):
        for td in tds:
            data.append(td.text)
    if data:
        all_rows.append(data)
df=pd.DataFrame(all_rows)
left_aligned_datafamename = df.style.set_properties(**{'text-align': 'right'})
display(left_aligned_datafamename)

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [180]:
driver.get("https://github.com/")
time.sleep(1)
explore_link = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[1]/details/summary')
driver.execute_script("arguments[0].click();", explore_link)
time.sleep(1)
trend_link = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
driver.execute_script("arguments[0].click();", trend_link)
time.sleep(1)

In [255]:
def getData(tags,tag_name):
    if tag_name=='span':
        try:
            data = tags.find_elements(By.TAG_NAME, tag_name)
            value = data[2].text
        except IndexError:
            value='-'
    else:
        try:
            data = tags.find_elements(By.TAG_NAME, tag_name)
            value = data[1].text
        except IndexError:
            value='-' 
    return value

In [265]:
title=[]
desc=[]
lang=[]
nod=[]
title_tags = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
desc_tags = driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
all_tags = driver.find_elements_by_xpath('//div[@class="f6 color-fg-muted mt-2"]')   
i=0
for tags in all_tags:
    lang.append(getData(tags,'span'))
    nod.append(getData(tags,'a'))
    title.append(title_tags[i].text)
    desc.append(desc_tags[i].text)
    i=i+1
df=pd.DataFrame({'Title':title,'Description':desc,'Language':lang,'Number of Contributers':nod})
left_aligned_datafamename = df.style.set_properties(**{'text-align': 'right'})
display(left_aligned_datafamename)